body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3%;
}
h1{
    font-family: "new-kansas", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 45px;
}
p{
    font-family: "new-kansas", sans-serif;
font-weight: 300;
}
#list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
}

#list thead th {
  background-color: #CCDDF2;
  color:black;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

#list tbody tr:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#list tbody tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

[data-action] {
    cursor: pointer;
  }
  
  #sorting th.sortby {
    text-decoration: underline;
  }
  
  #list {
    border-collapse: collapse;
    font-size: 15px;
  }
  #list img{
    border-radius: 20%;
    zoom:55%;
  }
  #list tbody tr td {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #list tbody tr:nth-child(odd) td {
    background-color:#D8ECFF;
    border-right: rgb(240, 249, 255) 1px dotted;
  }
  
  #list tbody tr:nth-child(even) td {
    background-color: #E1E8FF;
    border-right: rgb(171, 219, 252) 1px dotted;
  }
/* Style for filter buttons */
.filter {
  padding: 10px;
  background-color: #CCDDF2;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Style for search bar */
.search-container input[type="text"],
.search-container button {
  padding: 10px;
  border-radius: 10px;
  border:none;
}
